

body{
	top: 0; left: 0;
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
}

.header{
	top: 0;
	position: fixed;
	background-color: white;
	height: 60px;
	width: 100%;
	text-align: center;
	box-shadow: 1px 1px #BDBDBD;
	z-index: 1000;
}

.topnav a.icon{
	display: none;
}

.logo{
	margin: auto auto auto 8%;
	float: left;
}

.topnav{
	margin: 0 25% 0 0;
}

a.nav__item{
	float: right;
	text-align: center;
	color: #616161;
	padding: 0 0 20px 100px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	margin: 23px 0 0 0;
}


.topnav a:hover:not(.active) {
    color: #00E676;
   }

.topnav a.active{
	color: #00E676;
}


.hero--container{
	margin-top: 6%;
}



.contacts{
	bottom: 0; 
	z-index: 9;
	box-shadow: 0 -1px 0 0 #BDBDBD;
	background-color: white;
}


.container{
	bottom: 0;
	width: 100%;
	height: 150px;
	text-align: center;
}

.item{
	margin: 50px 15px; 
}

.text--made{
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	text-align: center;
	padding-bottom: 2%;
}


.list--projects{
	margin: 2% 25% 0 8%;
}

.imgp--info{
	display: inline-block;	
	margin-left: 5%;
}

.img--project--container{
	width: 300px;
	overflow: hidden;
	display: inline-block;
}

.imgp--title{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #00E676;
	padding-bottom: 10px;
}

.imgp--subtitle{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.trackmap{
	margin-top: 5%;
	width: 100%;
}

.mathinfo{
	margin-top: 5%;
	width: 100%;
}

.parabole{
	margin-top: 5%;
	width: 100%;
}

.webesedrone{
	margin-top: 5%;
	width: 100%;
}
